<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/"/>

    <link href="/assets/css/bootstrap.css" rel="stylesheet" media="all">
    <link href="/assets/css/blank.css" rel="stylesheet" media="all">
    <!--link href="/assets/css/bootstrap-theme.css" rel="stylesheet" media="all"-->
</head>
<body>


<div class="container">

    <div class="row main disabled">
        <div class="col" app-view-segment="0">

        </div>

        <div class="col col-lg-4 ng-cloak admin-block passive" admin-block>
            <div class="in-block">
			<h3>Item</h3>
			<form ng-controller="AddItemCtrl" ng-submit="add(item)">
                <div class="form-group">
                    <select id="type" class="form-control input" ng-options="type.id as type.name for type in types" ng-model="item.type"></select>
                </div>
                <div class="form-group">
                    <input placeholder="Name" id="name" class="form-control input" type="text" ng-model="item.name"/>
                </div>
                <div class="form-group">
                    <button  class="btn btn-default input" type="submit">Add</button>
                </div>
            </form>
			
			<br/>
			<h3>Type</h3>
			<form ng-controller="AddBlockCtrl" ng-submit="add(block)" enctype="multipart/form-data">
                <div class="form-group">
                    <!--label for="typeB">Type:</label-->
                    <select id="typeB" class="form-control input" ng-options="type.id as type.name for type in types" ng-model="block.type"></select>
                </div>
                <div class="form-group ">
                    <!--label for="nameB">Name:</label-->
                    <input placeholder="Name" messag="true" id="nameB" name="typename" class="form-control input" type="text" ng-model="block.name"/>
                </div>
				<div class="form-group ">
                    <!--label for="files">Images:</label-->
                    <input placeholder="Images" messag="true" id="files" class="form-control input" type="file" multiple="multiple" name="files[]" file-input="files"/>
                </div>
				<div class="form-group " ng-show="files">
                    <!--label for="states">States:</label-->
                    <div ng-repeat="file in files" class="box" style="padding: 10px 0;">
						<preloading class="preloaded" data='file'></preloading>
						<input ng-if="!file.error" id="state-{{file.fakename}}" class="form-control input uploaded" type="text" ng-model="file.fakename"/>
					</div>
                </div>

                <div class="form-group">
                    <button class="btn btn-default input" type="submit">Add</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<script src="/bazalt.js"></script>
<script src="/bower_components/requirejs/require.js" data-main="app/requireConfig"></script>
</body>
</html>